*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6a11cb,#2575fc);
}

.container{
    width:380px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    color:white;
}

h1{
    margin-bottom:10px;
    font-size:30px;
}

.subtitle{
    color:#f2f2f2;
    margin-bottom:30px;
}

.emoji-box{
    width:180px;
    height:180px;
    margin:auto;
    background:white;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.emoji-box:hover{
    transform:scale(1.05);
}

#emoji{
    font-size:90px;
    user-select:none;
}

.buttons{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:15px;
}

button{
    border:none;
    outline:none;
    padding:12px 22px;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

#generateBtn{
    background:#FFD43B;
    color:#333;
}

#generateBtn:hover{
    background:#FFC107;
    transform:translateY(-3px);
}

button:active{
    transform:scale(.95);
}

@media(max-width:420px){

.container{
    width:90%;
    padding:25px;
}

.buttons{
    flex-direction:column;
}

button{
    width:100%;
}

.emoji-box{
    width:150px;
    height:150px;
}

#emoji{
    font-size:75px;
}

}